body{
    text-align: center;
    font-size: 2em;
    margin: 1em 1em;
    background-color: bisque;
    color: #002E63;
}
/* for gradiant starts */
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* for gradiant ends */
button{
      text-align: center;
      font-size: 0.8em;
      background-color: rgba(231, 60, 126,0%);
       border: solid 1px;
       padding: 0.2em;
       transition: 344ms;
       border-radius:0.23em;
       color: #002E63;
       
}
.buttons{
    margin-bottom: 1em;
}
button:hover{
    color:white;
    background-color:rgba(0, 46, 99,0%)  ;

    border: 0.1em solid rgb(255, 255, 255);
}


@media(max-width:683px){
    body{
        font-size: 1.4em;
    }
     .buttons{
          display: grid;
          text-align: center;
          margin: 1em 1em;
          gap: 0.2em;
          grid-template-areas:
          "one one" 
          "two two"
          "three four";

     }
     .buttons:nth-child(1){
         grid-area: one;
     }
     .buttons:nth-child(2){
        grid-area: two;
    }
    .buttons:nth-child(3){
        grid-area: three;
    }
    .buttons:nth-child(4){
        grid-area: four;
    }
    
    
     
}